<html>
<head>
    <title>Golang pet proj</title>
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="Main as main">
<div class="container">
    <h1>Angular + Go</h1>
    <div class="form-group">
        <input type="text" ng-model="main.username" placeholder="username"><br>
        <input type="password" ng-model="main.password" placeholder="password"><br>
        <br>

        <button class="btn btn-primary" ng-click="main.register()">Register</button>
        <button class="btn btn-primary" ng-click="main.login()">Login</button>
        <!--<button ng-click="main.logout()" ng-show="main.isAuthed()">Logout</button>-->
    </div>
    <br><br>
    {{main.message}}

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <div class="checkbox" ng-repeat="todo in todos">
                <label>
                    <input type="checkbox" ng-click="main.deleteTodo(todo.id)"> {{ todo.text }}
                </label>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!--<input type="text" ng-model="formData.userId" />-->
                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever"
                           ng-model="formData.text">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="main.createTodo()">Add</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>